<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/layout.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#llm-form').on('submit', function(e){
                e.preventDefault();

                const prompt = $('#prompt-input').val();
                $('#prompt-input').val('');

                $.ajax({
                    type: 'POST',
                    url: '/generate-text',
                    data: { prompt : prompt },
                    success: function(response){

                        if (response.text) {
                            $('#response').text(response.text); // Update the response div with the text
                        } else {
                            $('#response').text('No text returned from the server.'); // Handle case where no text is returned
                        }
                    }
                })
            })
        })
        
    </script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Recommend</a></li>
            <li><a href="/generate">Generate</a></li>
            <li><a href="/llmPage">LLama</a></li>
        </ul>
    </nav>
    <h1>Generate Texts</h1>
    <form id="llm-form">
        <input type="text" id="prompt-input" name="prompt" placeholder="Enter prompt" required>
        <button type="submit">Send</button>
    </form>

    <h2>Response: </h2>
    <div id="response" style="color: white;">
        <!-- jquery will do its work here -->
    </div>
</body>
</html>